.snippet__item {
  display: flex;

  list-style: none;
  height: auto;
  min-height: 100px;
  width: auto;
  max-width: 80rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: white;
  border: 1px solid #e5e7eb; /* gray-200 */
  border-radius: 0.5rem; /* rounded-lg = 8px */
  padding: 1rem; /* p-4 = 16px */
  cursor: pointer;
  transition: all 150ms ease-in-out;
  &:hover {
    border-color: #60a5fa;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  &.child-element {
    transition: inherit;
  }
}

.snippet__icon {
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff6ff;
  border-radius: 0.5rem;
  color: oklch(0.488 0.243 264.376);
  &:hover {
    background-color: #dbeafe; /* bg-blue-100 */
  }
}

.snippet__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  min-width: 0;
}

.snippet__header {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.snippet__title {
  font-weight: 600;
  font-size: 12px;
  color: #333;
  font-size: 25px;
}

.snippet__id {
  font-size: 12px;
  color: #999;
  visibility: hidden;
}
/*описание с переносами на 3 линии и при переполнении прописывается три точки*/
.snippet__description {
  padding-left: 15px;
  font-size: 20px;
  color: #666;
  line-height: 1.2;
  /* Для line-clamp обязательно нужны: */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* Добавляем перенос слов */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.snippet__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  // padding: 0 !important;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: -40px;
}

.snippet__tag {
  padding-left: 0.625rem; /* 10px */
  padding-right: 0.625rem; /* 10px */

  /* py-1 = padding top/bottom */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */

  /* text-xs */
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */

  /* rounded-full */
  border-radius: 9999px;

  /* bg-gray-100 */
  background-color: #f3f4f6;

  /* text-gray-700 */
  color: #374151;

  /* border border-gray-200 */
  border: 1px solid #e5e7eb;

  /* Дополнительно: для красивого отображения */
  display: inline-block;
  white-space: nowrap;
}

.snippet__tag:first-child {
  background-color: #e3f2fd;
  color: #1976d2;
}
.snippet__tag--0 {
  background-color: #e3f2fd;
  color: #1976d2;
}
.snippet__tag--1 {
  background-color: #f3e5f5;
  color: #7b1fa2;
}
.snippet__tag--2 {
  background-color: #e8f5e8;
  color: #2e7d32;
}
