.card__container {
  max-width: 1600px;
  margin: auto;
  background-color: #ffffff;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 элемента в ряд */
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

  /* Если нужен цвет для всего списка */
  color: green;
}
